numpy==1.23.5
rtree==1.1.0
imageio==2.33.1
moviepy==1.0.3
meson
ray
submitit
open3d
wandb
torch==2.1.1
torchvision==0.16.1
pyrealsense2
h5py
lxml
geometrout==0.0.3.4
kornia
meshcat
opencv-python
pycocotools
matplotlib
autolab_core
pytorch-kinematics
hydra-core>=1.2
